body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    line-height:1.6;
  }

  html {
    background: url("./Cover.jpg") no-repeat left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .body {
    background: url("./Cover.jpg");
    background-size: cover;
  }
  .button {
    background: rgb(255, 254, 254);
    color:black;
    border:0;
  }

  .button:hover {
    background:#333;
  }

  .modal {
    display:none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background-color:#f4f4f4;
    margin: 9% auto;
    width:50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
  }

  .modal-header h2, .modal-footer h3 {
    margin:0;
  }

  .modal-header {
    background: black;
    padding:15px;
    color:#fff;
  }

  .modal-body {
    padding:10px 20px;
  }

  .modal-footer {
    background:coral;
    padding:10px;
    color:#fff;
    text-align: center;
  }

  .closeBtn {
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;
  }

  .closeBtn:hover,.closeBtn:focus {
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }

  /*@keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
  }

  /*@media only screen and (min-width: 480px) {
    .body {
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
      /*background-image: url("./Cover.jpg");*/
     /* width: 380px;
    }
    */
    /*
    .body {
        background-size: 350px auto;
      }
      .modal-header {
          padding: 0 350px;
          height: 100px;
          background: white;

      }
  }*/

  /* This is for the customer box */
  /*======================================*/
  .customer {
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: black;
    border: 1px solid gray;
  }
  .cool-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: black;
  }
  .button-container {
    margin-top: 25%;
  }